pandas
matplotlib
ipykernel
jupyter
langchain
ollama
tiktoken
langgraph
langchain-core
langchain-ollama
langchain-community
streamlit
Flask
pydantic
beautifulsoup4
python-dotenv
tavily-python
requests
rpy2
streamlit_shadcn_ui
sklearn
pydeck


